* {
  margin: 0px;
  padding: 0px;
  outline: none;
  border: none;
  font-family: sans-serif;
  user-select: none;
}

.testingButton {
  padding: 8px 16px;
  border: 0px;
  border-radius: 7px;
  background-color: blue;
  color: #fff;
  margin: 12px;
}

.connection_label {
  margin: 75px 25px;
}

.header {
  height: 80px;
  background-color: goldenrod;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
}

#title_div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#title {
  margin: 0;
}

#logoImg {
  height: 50px;
  width: 50px;
  margin-right: 15px;
}

.nav-items > ul {
  margin: 0;
  display: flex;
  list-style-type: none;
}

.nav-items > ul > li {
  cursor: pointer;
  font-weight: bold;
  margin: 0 25px 0 0;
}

.nav-items > ul > li > a {
  color: #000;
  text-decoration: none;
}

#search-input {
  width: 300px;
  background-color: #f8f8f8;
  border: 1px solid #3b3b3b;
  font-size: 16px;
  outline: none;
  margin: 18px 8px;
  padding: 10px;
  border-radius: 8px;
}

#search-btn {
  border: 1px solid #3b3b3b;
  outline: none;
  padding: 5px 8px;
  border-radius: 8px;
}

.resturantList {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  column-gap: 12px;
}

.resturantList a {
  text-decoration: none;
}

.card {
  width: 260px;
  height: 350px !important;
  border: 1px solid #d4d4d4;
  background: #f8f8f8;
  border-radius: 7px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1rem;
  margin: 8px;
}

.card > h4 {
  color: #000;
  cursor: pointer;
  font-size: 18px !important;
  font-weight: bolder;
  margin: 15px 0px 0px 0px;
}

.card > h6 {
  color: #7e7e7e;
  font-size: 13px !important;
  font-weight: normal;
  margin: 4px 0px;
}

.card > h5 {
  color: #000;
  font-size: 15px !important;
  font-weight: bolder;
  margin: 8px 0px;
}

.card > h5.restro-rating {
  color: darkgreen;
  font-size: 15px !important;
  font-weight: bolder;
  margin: 0px;
}

.card > img {
  width: 100%;
  border-radius: 8px;
}

/*Shimmer CSS */

.shimmer-card {
  width: 260px;
  height: 250px;
  border: 1px solid #d4d4d4;
  background: #f8f8f8;
  border-radius: 7px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1rem;
  margin: 8px;
}
.shimmer-title {
  width: 60%;
  margin-top: 10px;
}
.shimmer-tags {
  width: 80%;
  margin-top: 4px;
}
.shimmer-details {
  width: 100%;
  margin-top: 18px;
}
.shimmer-card .shimmer-img {
  height: 125px;
  width: 100%;
}

/*Animation to Shimmer Component Cards */
.stroke {
  height: 15px;
  background: #777;
}
.animate {
  animation: shimmer 3s;
  animation-iteration-count: infinite;
  background: linear-gradient(to right, #e6e6e6 5%, #cccccc 25%, #e6e6e6 35%);
  background-size: 1000px 100%;
}
@keyframes shimmer {
  from {
    background-position: -1000px 0;
  }
  to {
    background-position: 1000px 0;
  }
}

/* Footer */

.footer {
  height: 80px;
  width: 100%;
  background-color: goldenrod;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

#footerBase {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#footerBase h1 {
  color: #000;
  font-size: 20px !important;
  font-weight: normal;
  margin: 0;
}

#footerBase h1:first-child {
  margin-left: 100px;
}
#footerBase h1:nth-child(2) {
  margin-right: 100px;
}

/* Page Not Found */

.not-found-container {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.not-found-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px 0px;
}

.not-found-content h1,
.not-found-content h3,
.not-found-content h4 {
  margin: 8px 0px;
}

.not-found-content h4 {
  color: #717171;
}

.not-found-container button {
  background-color: #face6d;
  border-radius: 7px;
  border: 1px solid #a0a0a0;
  font-size: 16px;
  outline: 0px;
  padding: 8px 12px;
}

/* Restaurent Detail */

.restaurentDetail-container {
  display: flex;
  flex-direction: column;
  margin: 18px 100px;
}

.route-to-restaurent {
  color: #939393;
}

.restaurent-basic-detail-container {
  display: flex;
  flex-direction: row;
  margin: 50px 18px;
}

.restaurent-basic-detail-container div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.restaurent-basic-detail-container img {
  height: 150px;
  width: 200px;
  border: 1px solid #000;
  margin: 0 12px 0 0;
  padding: 7px;
}

.restaurent-basic-detail-container h2 {
  margin: 0 0 8px 0;
}

.restaurent-basic-detail-container label {
  color: #636363;
  margin: 0 0 5px 0;
}

.menu-item-card {
  height: 164px;
  width: 100%;
  background-color: #ececec;
  border: 1px solid #bfbfbf;
  border-radius: 8px;
  display: grid;
  grid-template-columns: 200px 1fr 75px 125px;
  grid-template-rows: 1fr;
  grid-gap: 15px;
  justify-content: flex-start;
  align-items: center;
  margin: 16px 0px;
  padding: 0px 12px;
}

.menu-item-card img {
  height: 140px !important;
  width: 200px !important;
  border: 1px solid #bfbfbf;
  border-radius: 8px;
}

.menu-item-card .item-detail h2 {
  color: #000;
  font-size: 18px !important;
  font-weight: 500;
}

.menu-item-card .item-detail h4,
.menu-item-card .item-detail p {
  color: #454545;
  font-size: 12px !important;
  font-weight: 500;
}

.menu-item-card h2 {
  color: #000;
  font-size: 18px !important;
  font-weight: 500;
}

.menu-item-card .item-detail h2,
.menu-item-card .item-detail h4,
.menu-item-card .item-detail p {
  margin: 5px 0px 8px 0px;
}

.menu-item-card .menu-item-button {
  width: 120px;
  height: 40px;
  border: 1px solid transparent;
  border-radius: 8px;
  background-color: darkgreen;
  color: #fff;
  font-size: 15px;
  font-weight: 500;
  outline: 0;
}

/* Login Form */

.loginForm {
  min-height: calc(722px - 160px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.formComponent {
  height: auto;
  width: 400px;
  border: 0px solid #000;
}

.formComponent input {
  border-color: black;
}

.formComponent Button {
  background-color: darkgreen;
}